extends index.pug
block vars
    - var title='Accounts'
block content
    .container-fluid(style="min-height: 500px")
        #accside
        //- nav.col-md-2.bg-white.sidebar.mt-5(style="text-align: center; height: 750px")
        //-     .sidebar-sticky
        //-         ul.nav.flex-column
        //-             li.nav-item.mt-1
        //-                 .row
        //-                     img(src="/assets/img/Stickman.png" alt="Amanda" width="150" height="150")
        //-                     a.nav-link(href='#' style="color: #FFC946") Edit
        //-             li.nav-item.mt-1
        //-                 h5(id='compname') this is my name
        //-             h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
        //-                 span Description
        //-             li.nav-item
        //-                 h7(id='compdes')
        //-             h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
        //-                 span industry:
        //-             li.nav-item
        //-                 h7(id='industry')
        //-             h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
        //-                 span services:
        //-             li.nav-item
        //-                 h7(id='services')
        //-         h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
        //-         span Rating:
        //-         ul.nav.flex-column.mb-2
        //-             li.nav-item
        //-                 h7(id='rating')
        //-         h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
        //-         span Review:
        //-         ul.nav.flex-column.mb-2
        //-             li.nav-item
        //-                 h7(id='review')
        //-         h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
        //-         ul.nav.flex-column.mb-2
        //-             li.nav-item
        //-                 a.nav-link(href='/logout' style="color: #FFC946") Logout
        .col-md-9.ml-sm-auto.col-lg-10.px-4
            .container-fluid(style="padding-left:33%; padding-top:20%;min-height: 700px")
                h1.text-muted Coming Soon...
            //- h1 #[strong Current Projects]
            //- #accmaincurr.row(style="padding: 5%;")
            //- h1 #[strong Projects Completed]
            //- #accmaindone.row(style="padding: 5%;")
                    //- .col-6
                    //-     .card(style="min-width: 10rem;width: 70%; height: 70%;text-align: center;vertical-align: middle;background-color: #e8e8e8;outline-color: white")
                    //-         img(class="card-img-top img-fluid" src="../assets/img/Stickman.png" alt="Stickman")
                    //-         .card-body(style="color: black;")
                    //-             .row
                    //-                 .col-6
                    //-                     span.card-title Project Title
