extends myprojects.pug
block current-inbox
    //- .ml-5
    //-     h1 #[strong Current Projects]
    //-     //- #projdiv.row(style="padding: 5%;")
    //-     #projdiv.row(style="padding: 5%;")
            //- .col-6
            //-     a.card(style="min-width: 10rem;width: 70%; height: 70%;text-align: center;vertical-align: middle;background-color: #e8e8e8;outline-color: white;text-decoration:none" href='#')
            //-         img(class="card-img-top img-fluid" src="../assets/img/Stickman.png" alt="Stickman")
            //-         .card-body(style="color: black;")
            //-             .row
            //-                 .col-6
            //-                     span.card-title Project Title