extends index.pug
block vars
    - var title='Hoppers'
block content
    .with-bg-size2
    .container-fluid(style="width: 80%;")
        h1.ml-5.mt-5 #[strong Discover Hoppers:]
        #hopfeed.row.mt-5(style="padding: 0.1%; padding-left: 15%")
            //- .col-6
            //-     .card(style="min-width: 10rem;width: 70%; height: 70%;text-align: center;vertical-align: middle;background-color: #e8e8e8;outline-color: white")
            //-         img(class="card-img-top img-fluid" src="../assets/img/Stickman.png" alt="Stickman")
            //-         .card-body(style="background-color: #414449; color: white;")
            //-             .row
            //-                 .col-6
            //-                     span.card-title AMANDA TAN
            //-                 .col-6
            //-                     a.btn(href="#" style="background-color: white; color: #4d4d4d;") CONNECT
            