extends index.pug
block vars
    - var title='Playground'
block content
    .container-fluid(style="padding-left:38%; padding-top:15%;min-height: 453px")
        h1.text-muted Coming soon...
    //- .with-bg-size
    //- .container-fluid(style="width: 80%;")
    //-     h1.ml-5.mt-2 #[strong Featured Projects:]
    //-     .mb-5(style="background-color: #ffe0a3; padding: 2em")
    //-         #tier2
    //-     h1.ml-5.mt-2 #[strong Recent Projects:]
    //-     .mb-5(style="padding: 2em")
    //-         #tier1