extends index.pug
block vars
    - var title='Playground'
block content
    .container-fluid(style="width: 80%")
        div(style="text-align: center")
            img(class="img-fluid" src="/assets/img/Stickman.png" alt="Stickman" height="500" width="500")
            //- h2.align-center.pb-3.mbr-fonts-style.display-2
            #title
            #company
            #des
            p Deliverables:
            ul(style='font-size: 15px' id = 'del')
            #price