doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Accounts
    link(href='../assets/css/bootstrap.min.css', rel='stylesheet')
    link(href='../assets/css/dashboard.css', rel='stylesheet')
  body
    nav.navbar.sticky-top.navbar-light.bg-white.shadow
        .navbar.navbar-expand-lg.navbar-light(class =".col-6 .col-lg-4")
            a.navbar-brand(href="/index") 
                img(src="/assets/img/logo.jpeg" alt="Hop Circles" width="150" height="70")
        .navbar.navbar-expand-lg.navbar-light(class =".col-12 .col-sm-6 .col-lg-8")
                    a.navbar-brand(href="#") MY PROJECT
                    a.navbar-brand(href="/playground") PLAYGROUND
                    a.navbar-brand(href="/hoppers") HOPPERS
                    a.navbar-brand.avatar(href="/accounts" style="color: #FFC946;") Amanda Tan
    .container-fluid
      .row
        nav.col-md-2.d-none.d-md-block.bg-light.sidebar(style="text-align: center")
          .sidebar-sticky
            ul.nav.flex-column.mt-5.pt-5
              li.nav-item.mt-1
                a.nav-link(href='#')
                    img(src="/assets/img/Stickman.png" alt="Amanda" width="150" height="150")
              li.nav-item.mt-1
                h5 Amanda, 18
              h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                span Skillsets:
              li.nav-item
                h7 Photography, Editing, Copywritting
              h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                span software Proficiency:
              li.nav-item
                h7 Adobe Photoshop
            h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
              span Rating:
            ul.nav.flex-column.mb-2
              li.nav-item
                h7 5.0
            h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
              span Review:
            ul.nav.flex-column.mb-2
              li.nav-item
                h7 Very Good