doctype html
html
    head
        title Terms of use - #{title}
        link(rel='shortcut icon' href='../assets/img/favicon.ico')
        link(rel="stylesheet" href="/assets/css/bootstrap.min.css")
        meta(name= "viewport" content="width=device-width, initial-scale=1")
    body
        .container(style='width: 80%')
            h1.mt-5(style='text-align:center')
                b TERMS AND CONDITIONS
            p
            strong &nbsp;
            p
            | Through its website and smart phone application,
            strong &nbsp;Hop Circles Inc PTE. LTD. or its affiliates&nbsp;
            | (each or together, &ldquo;
            strong Hop Circles Inc Pte. Ltd.
            | &rdquo;) provides a platform through which a person may offer its services to another person who requires such services.&nbsp; Offered Service Providers and Offered Service Users are free to then deal with each other&nbsp;
            em in their own right&nbsp;
            | to provide and use such services. Hop Circles Inc does not itself provide such services and accordingly, Hop Circles Inc will not be responsible or liable in any way for the actions or omissions of Offered Service Providers and Offered Service Users, who are deemed to enter into their contract (if any) with each other only and not with Hop Circles Inc.
            p
            strong IMPORTANT!
            p
            strong
                | PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY. By requesting access to Hop Circles Inc&rsquo;s &nbsp;website 
            strong
                a(href='http://hopcircles.com/') hopcircles.com
            strong
                |  or smart phone application or use any of the Hop Circles Inc Services, you agree to these terms and conditions, as they may be revised by Hop Circles Inc from time to time.&nbsp; If you do not agree to these terms and conditions, do not make the said request for access.
            p &nbsp;
            p
            strong
                | Before agreeing to the terms and conditions, you have considered and evaluated the responsibilities and risks which may arise in providing or using any of the Hop Circles Inc Services or any of the Offered Services and you have taken and will take all necessary steps to avoid or reduce any unacceptable responsibilities and risks.
            p
            strong 1
            p
            strong
                em Applicant and Application
            p
            | Any person (&ldquo;
            strong the Applicant
            | &rdquo;) who makes any application (&ldquo;
            strong Application
            | &rdquo;) to Hop Circles Inc for access to or use of Hop Circles Inc Services must:
            p
            strong
                em Age, capacity and information
            p
            | (1)&nbsp;&nbsp; &nbsp;be not less than 18 years old and have the legal capacity to enter into contracts under Singapore law;
            p
            | (2)&nbsp;&nbsp; &nbsp;provide Hop Circles Inc with a copy of the Applicant&rsquo;s identification document showing his current residential/ office address or any supporting documents as requested by Hop Circles Inc and inform Hop Circles Inc of his current mobile phone number and email address, for verification purposes;
            p
            | (3)&nbsp;&nbsp; &nbsp;provide and ensure that all information given by the Applicant to Hop Circles Inc are complete, accurate and current, and that the Applicant has not and will not misrepresent or misconstrue its ability, competency or capacity to provide or use the Offered Services; and
            p
            | (4)&nbsp;&nbsp; &nbsp;give to Hop Circles Inc all other information which may affect Hop Circles Inc&rsquo;s decision whether or not to provide the Hop Circles Inc Services or on the terms and conditions of providing the service.
            p &nbsp;
            p
            strong
                em Hop Circles Inc Services
            p
            | The expression&nbsp;
            strong &ldquo;Hop Circles Inc Services&rdquo;
            | &nbsp;refers to all or any of the services described as such in Hop Circles Inc&rsquo;s &nbsp;website hopcircles.com and/or smart phone application (either or both,&nbsp;
            strong &ldquo;Hop Circles Inc Website&rdquo;
            | ), as may be upgraded, modified, refreshed, suspended or discontinued by Hop Circles Inc from time to time.&nbsp; The Applicant acknowledges and agrees that Hop Circles Inc may at its discretion, link Hop Circles Inc&rsquo;s Website or any Hop Circles Inc Services to any website of any third party subject to the terms and conditions imposed by the third party which may not be within Hop Circles Inc&rsquo;s control, in which event, the successful Applicant shall be free to make his own independent decision on whether to use such third party&rsquo;s website or to accept any goods, services or facilities from such third party.&nbsp; The Applicant further agrees that in case of any contradiction or inconsistency between the terms and conditions of use or provision of such third party website, goods, services or facilities, these terms and conditions shall apply unless and to the extent Hop Circles Inc decides otherwise.
            p
            strong 2
            p
            strong
                em No multiple applications or transfer or sharing of application
            p
            | No person may make more than one Application, whether or not by using his own or a different name or other personal information. The Application shall not be transferred to or shared in any way by the Applicant with any other person without Hop Circles Inc&rsquo;s prior written approval.
            p
            strong 3
            p
            strong
                em No refund of application sums
            p
            | Regardless of whether or not any contract is made between the Applicant and Hop Circles Inc, any sum paid by the Applicant at the time of the Application will not be refundable without Hop Circles Inc&rsquo;s prior written agreement.
            p
            strong 4
            p
            strong
                em
                | Offered Service Provider, Offered Service User, Hop Circles Inc Service Users and Contract
            p
            | Upon Hop Circles Inc&rsquo;s approval (if any) of the Application, Hop Circles Inc and the successful Applicant (referred to individually as &ldquo;
            strong Offered Service Provider
            | &rdquo; in the case of any person who wishes to provide any service (&ldquo;
            strong Offered Services
            | &rdquo;), or &ldquo;
            strong Offered Service User
            | &rdquo; in the case of any person who wishes to use any Offered Services, referred to interchangeably or collectively as &ldquo;
            strong Hop Circles Inc Service Users
            | &rdquo;) will be taken to have entered into a legally binding agreement (&ldquo;
            strong the Contract
            | &rdquo;) with Hop Circles Inc to provide and the Hop Circles Inc Service User to use Hop Circles Inc Services, in accordance with the Application and upon these terms and conditions.
            p
            | The Hop Circles Inc Service User shall disclose to each potential Offered Service User or to each potential Offered Service Provider, as the case may be, all information which may influence their decision on whether or not to use or provide, at the case may be, the Offered Service, including the Hop Circles Inc Service User&rsquo;s track record and performance, competency, standards, legality, professional knowledge, industry practice, where applicable.
            p
            | The mere receipt by Hop Circles Inc of the Application and the sums referred to in Condition 3 above do not constitute such contract.&nbsp; A person who is not a party to the Contract shall have no right under the Contracts (Rights of Third Parties) Act (Chap 53B) to enforce any provision of the Act.
            p
            strong 5
            p
            strong
                em Charges and other sums payable
            p
            | The Hop Circles Inc Service User shall pay all applicable charges and other sums imposed by Hop Circles Inc, at the rate and at the time specified by Hop Circles Inc from time to time.
            p
            strong 6
            p
            strong
                em Security
            p
            | The Hop Circles Inc Service User shall when and in such form as required by Hop Circles Inc, provide to Hop Circles Inc such security for the Hop Circles Inc Service User&rsquo;s performance of its obligations under the Contract, which security may not be set-off against any sums owing to Hop Circles Inc.
            p
            strong 7
            p
            strong
                em
                | Purpose of use of Hop Circles Inc Services and Hop Circles Inc Service User Affiliates
            p
            | The Hop Circles Inc Service User may have access and use of Hop Circles Inc Services for the sole purpose of offering to provide any Offered Services or to use any Offered Services, as the case may be, itself or through its employees, agents and contractors or members of its household (&ldquo;
            strong Hop Circles Inc Service User Affiliates
            | &rdquo;), which the Hop Circles Inc Service User shall ensure at all times comply with and do not contravene any law (including those related to employment, taxation, safety, hygiene). The Hop Circles Inc Service User shall ensure that its Hop Circles Inc Service User Affiliates shall at all times:
            p
            strong
                em Requests
            p
            | (1)&nbsp;&nbsp;&nbsp;&nbsp; comply with all reasonable requests of Hop Circles Inc&rsquo;s employees, agents, contractors and of the relevant Offered Service Provider or Offered Service User, as the case may be; and
            p
            strong
                em Conduct
            p
            | (2)&nbsp; &nbsp; conduct themselves in such a manner as shall not be fraudulent or unlawful and as may not cause loss, damage, danger, distress, offence, annoyance or inconvenience to Hop Circles Inc or any other person (including the relevant Offered Service Provider or Offered Service User, as the case may be) or as may subject Hop Circles Inc or them to prosecution or action by any authority.
            p
            strong 8
            p
            strong
                em Non-warranty and waiver
            p
            | Hop Circles Inc provides Hop Circles Inc Services &ldquo;
            em as is
            | &rdquo; and &ldquo;
            em as available
            | &rdquo; and Hop Circles Inc does not warrant the completeness, accuracy, availability, propriety, safety, security, reliability, quality, merchantability, fitness for particular purpose, timeliness or non-infringement of Hop Circles Inc Services or of the Offered Services, and each Hop Circles Inc Service User shall have access to and use of Hop Circles Inc Services and shall provide or use the Offered Services at its own risk.
            p The Hop Circles Inc Service User acknowledges and agrees that:
            p
            | (1)&nbsp;&nbsp; &nbsp;the completeness, accuracy, availability, propriety, safety, security, reliability, quality, merchantability, fitness for particular purpose, timeliness, non-infringement and other aspects of provision of the Offered Services by any Offered Service Provider are entirely the responsibility of the Offered Service Provider; and
            p
            | (2)&nbsp;&nbsp; &nbsp;the safety, security, quality, timeliness or other aspects of the premises or performance of the Offered Service User are entirely the responsibility of the Offered Service User as the case may be.
            br
            br
            |  Neither does Hop Circles Inc warrant or monitor the suitability, legal capacity, fitness, character or capability of any other Hop Circles Inc Service User.&nbsp; The Hop Circles Inc Service User hereby acknowledges that it enters into the Contract as an independent contractor or user, as the case may be, and shall not be taken in any way to be an employee, agent or contractor of Hop Circles Inc or to be any person for whom Hop Circles Inc is responsible in any way.
            p &nbsp;
            p
            strong 9
            p
            strong
                em Liability, indemnity and Insurance
            p &nbsp;
            p
            | Hop Circles Inc and employees, agents, contractors shall not be liable for any loss, damage or destruction of any property or any injury or death of or infringement of any intellectual property or other rights by any&nbsp; Hop Circles Inc Service User or its Hop Circles Inc Service User Affiliates or for any demands, claims or proceedings against any Hop Circles Inc Service User or its Hop Circles Inc Service User Affiliates arising from or related to the Contract or performance of any Hop Circles Inc Services (except where caused by the proven gross negligence or willful default of Hop Circles Inc) or of any Offered Service or of any website of or good, services or facilities offered or provided by any third party referred to in Condition 1 due to any reason.&nbsp; Without prejudice to the generality of the foregoing, each Hop Circles Inc Service User expressly waives and releases Hop Circles Inc and its employees, agents and contractors from any and all liability, claims or damages arising from or in any way related to other Hop Circles Inc Service Users or any Offered Services.
            p
            | In any event, such liability (if any) of Hop Circles Inc to any Hop Circles Inc Service User and/or its Hop Circles Inc Service User Affiliates shall not exceed the sum (if any) paid by the Hop Circles Inc Service User to Hop Circles Inc under Condition 5 above for the use of the relevant Hop Circles Inc Services (excluding sums paid or payable by the Hop Circles Inc Service User to any other Hop Circles Inc Service User).
            p
            | The Hop Circles Inc Service User shall indemnify Hop Circles Inc and its employees, agents and contractors against all actions, claims, demands, losses, damages and costs and expenses (including the claimant&rsquo;s solicitor and client costs) for which they shall or may become liable to any person (including those made by its Hop Circles Inc Service User&rsquo;s Affiliates) in respect of such loss, damage, destruction, injury, death or infringement.
            p
            | In no event shall Hop Circles Inc and its employees, agents, contractors be liable for any claim for emotional distress or loss of data or for any indirect, incidental, special, consequential, punitive, economic, future, exemplary or damages or loss.
            p
            | Each Hop Circles Inc Service User shall procure adequate insurance to cover actions, claims and demands made against it or its Hop Circles Inc Service User Affiliates and their losses, damages, costs and expenses described in this Condition.
            p
            strong 10
            p
            strong
                em Termination
            p
            | Hop Circles Inc may terminate the Contract if Hop Circles Inc reasonably considers that the Hop Circles Inc Service User has breached or may breach any of these terms and conditions contained or any applicable law, without prejudice to Hop Circles Inc rights and remedies in relation to any antecedent breach of the Hop Circles Inc Service User.
            p
            strong 11
            p
            strong
                em Confidentiality
            p
            | The Applicant and the Hop Circles Inc Service User may not and shall ensure that its Hop Circles Inc Service User Affiliates shall not, without the prior written approval of Hop Circles Inc, disclose to any third party nor use for the benefit of any third party, any information provided by Hop Circles Inc (including the Hop Circles Inc Service User&rsquo;s account password) or relating to Hop Circles Inc or its employees, agents or contractors, Hop Circles Inc Services, any other Hop Circles Inc Service User or the Offered Services or the Contract which is not in the public domain or for any purpose other than the Application or the use of Hop Circles Inc Services. In particular and without prejudice to the generality of the foregoing, the Hop Circles Inc Service User may not:
            br
            br
            |  (1)&nbsp;&nbsp; &nbsp;request or obtain any contact information or personal information of any other Hop Circles Inc Service User without the prior written approval of Hop Circles Inc;
            br
            br
            |  (2)&nbsp;&nbsp; &nbsp;take photographs or other recordings of any other Hop Circles Inc Service User or any Hop Circles Inc employee, agent or contractor or of their premises or other property, without the prior written approval of such other Hop Circles Inc Service User or Hop Circles Inc; or
            br
            br
            |  (3)&nbsp;&nbsp; &nbsp;
            strong
                | communicate with any other Hop Circles Inc Service User after the completion of the relevant Offered Service without the prior written approval of Hop Circles Inc.
            p
            strong 12
            p
            strong
                em Personal Data
            p The Applicant and the Hop Circles Inc Service User:
            p
            | (1)&nbsp;&nbsp; &nbsp;shall at all times provide Hop Circles Inc with up to date data (&ldquo;
            strong Personal Data
            | &rdquo;) about itself and its Hop Circles Inc Service User Affiliates and the devices and related software, hardware and peripherals they may respectively use, that Hop Circles Inc may require or wish to use to identify, contact or locate any of them, including their name, identification card number, birth certificate number, passport number, nationality, address, telephone number, credit or debit card details, race, gender, date of birth, email address and any other information about the Hop Circles Inc Service User and its Offered Service or Offered Use, as the case may be, which the Hop Circles Inc Service User has provided to Hop Circles Inc from time to time, as well as sensitive personal data such as data relating to health, religious or other similar beliefs; and
            p
            | (2)&nbsp;&nbsp; &nbsp;hereby agrees and consents to Hop Circles Inc and its employees, agents, and contractors collecting, processing and using the Personal Data for the purposes of the Application, the Contract and Hop Circles Inc Services and for the business and activities of Hop Circles Inc and its partners and sponsors and to fulfil any legal obligation of Hop Circles Inc, including for marketing, business or any other purposes in relation to Hop Circles Inc and the following purposes:
            p (a)&nbsp;&nbsp; &nbsp;to process Applications;
            p (b)&nbsp;&nbsp; &nbsp;to perform Hop Circles Inc&rsquo;s obligations under the Contract;
            p (c)&nbsp;&nbsp; &nbsp;to manage and administer the Contract;
            p (d)&nbsp;&nbsp; &nbsp;to develop, provide and enhance Hop Circles Inc Services;
            p
            | (e)&nbsp;&nbsp; &nbsp;to notify, invite and/or consider the participation of the Application or the Hop Circles Inc Service User in any events, promotions, activities, focus groups, research studies, contests, promotions, polls, surveys or any productions and to communicate with you regarding your attendance thereto;
            p
            | The Applicant or the Hop Circles Inc Service User shall notify Hop Circles Inc in writing if the Applicant or the Hop Circles Inc Service User or its Hop Circles Inc Service User Affiliate does not consent to Hop Circles Inc using their Personal Data for the aforesaid purposes.
            p
            strong 13
            p
            strong
                em Intellectual Property
            p
            | The Contract is not intended and shall not be taken as granting or transferring to the Applicant or the Hop Circles Inc Service User, any intellectual property right of Hop Circles Inc.&nbsp; Hop Circles Inc owns all right, title and interest, including all related intellectual property rights, in and to Hop Circles Inc Services and any suggestions, ideas, enhancement requests, feedback, recommendations or other information provided by the Hop Circles Inc Service User or any other person relating to Hop Circles Inc Services. For the avoidance of doubt, Hop Circles Inc Services include their respective components, processes and design in their entirety.
            p
            | The Applicant and the Hop Circles Inc Service User shall not and shall ensure that its Hop Circles Inc Service User Affiliates shall not and shall not attempt to:
            p
            | (1) &nbsp;&nbsp; &nbsp;license, sublicense, sell, resell, transfer, assign, distribute or otherwise reproduce, use, exploit or make all or any part of Hop Circles Inc Services (including Hop Circles Inc&rsquo;s trademarks) in any way;
            p
            | (2) &nbsp;&nbsp; &nbsp;modify or make derivative works based on the Application, the Contract or to or for any other person or create internet &ldquo;links&rdquo; to Hop Circles Inc Services or &ldquo;frame&rdquo; or &ldquo;mirror&rdquo; Hop Circles Inc Services on any other server or wireless or internet-based device;
            p
            | (3) &nbsp;&nbsp; &nbsp;reverse engineer or access Hop Circles Inc Services in order to directly or indirectly in any way -
            p &nbsp;&nbsp; &nbsp;(a) &nbsp;&nbsp; &nbsp;build a similar or competitive product or service;
            p
            | (b) &nbsp;&nbsp; &nbsp;build a product using similar ideas, features, functions or graphics of Hop Circles Inc Services; or
            p
            | (c) &nbsp;&nbsp; &nbsp;copy any ideas, features, functions or graphics of Hop Circles Inc Services,
            p
            | (4) &nbsp;&nbsp; &nbsp;launch any automated program or script, including web spiders, web crawlers, web robots, web ants, web indexers, bots, viruses or worms, or any program which may make multiple server requests per second, or unduly burdens or hinders the operation and/or performance of Hop Circles Inc Services;
            p
            | (5) &nbsp;&nbsp; &nbsp;use any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index, &ldquo;data mine&rdquo;, or in any way reproduce or circumvent the navigational structure or presentation of Hop Circles Inc Services or its contents;
            p
            | (6) &nbsp;&nbsp; &nbsp;post, distribute or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior consent of the owner of such proprietary rights;
            p
            | (7) &nbsp;&nbsp; &nbsp;remove any copyright, trademark or other proprietary rights notices contained in Hop Circles Inc Services;
            p (8) &nbsp;&nbsp; &nbsp;use Hop Circles Inc Services to -
            p &nbsp;&nbsp; &nbsp;(a) &nbsp;&nbsp; &nbsp;send spam or otherwise duplicative or unsolicited messages;
            p
            | (b) &nbsp;&nbsp; &nbsp;send or store infringing, obscene, threatening, libellous, or otherwise unlawful or tortious material, including but not limited to materials harmful to children or in violation of third party privacy rights;
            p
            | (c) &nbsp;&nbsp; &nbsp;send material containing software viruses, worms, Trojan horses or other harmful computer code, files, scripts, agents or programs;
            p
            | (d) &nbsp;&nbsp; &nbsp;interfere with or disrupt the integrity or performance of Hop Circles Inc Services;
            p
            | (e) &nbsp;&nbsp; &nbsp;attempt to gain unauthorized access to Hop Circles Inc Services or its related systems or networks; or
            p
            | (f) &nbsp;&nbsp; &nbsp;impersonate any person or entity or otherwise misrepresent their affiliation with a person or entity, and shall abstain from any conduct that could possibly damage Hop Circles Inc&rsquo;s reputation or operations.
            p
            strong 14
            p
            strong
                em Hop Circles Inc Service User&rsquo;s Materials
            p
            | The Hop Circles Inc Service User shall and shall ensure that its Hop Circles Inc Service User Affiliates shall possess all intellectual property and other rights to use, disclose, reproduce and publish all content and other materials (including photographs, videos and music) posted or otherwise they make available to Hop Circles Inc or other potential or actual Hop Circles Inc Service Users using Hop Circles Inc Services (&ldquo;
            strong the Hop Circles Inc Service User&rsquo;s Materials&rdquo;
            | ).
            br
            |  &nbsp;&nbsp; &nbsp;The Hop Circles Inc Service User:
            br
            |  &nbsp;&nbsp; &nbsp;(1)&nbsp;&nbsp; &nbsp;hereby grants to Hop Circles Inc and other Hop Circles Inc Service Users full right, permission and liberty to use the Hop Circles Inc Service User&rsquo;s Materials for the entire duration of the Contract and without royalty or other charge;
            br
            |  &nbsp;&nbsp; &nbsp;(2)&nbsp;&nbsp; &nbsp;hereby acknowledges that the Hop Circles Inc Service User&rsquo;s Materials will be made available to the employees and agents of Hop Circles Inc and other Hop Circles Inc Service Users for the purposes of Hop Circles Inc Services, and Hop Circles Inc may not be able to monitor or limit or otherwise control their use of the Hop Circles Inc Service User&rsquo;s Materials;
            br
            |  &nbsp;&nbsp; &nbsp;(3)&nbsp;&nbsp; &nbsp;hereby releases Hop Circles Inc from any liability for the use of the Hop Circles Inc Service User&rsquo;s Materials by Hop Circles Inc&rsquo;s employees and agents or Hop Circles Inc and other Hop Circles Inc Service Users; and
            br
            |  &nbsp;&nbsp; &nbsp;(4)&nbsp;&nbsp; &nbsp;hereby acknowledges and agree that its use (if any) of any sharing function on Hop Circles Inc&rsquo;s Website to share content to Facebook, Google, LinkedIn or other services will be subject to the service provider&rsquo;s terms of service.
            p
            strong 15
            p
            strong
                em Third party advertising, marketing and promotion
            p
            | If Hop Circles Inc permits third parties to advertise, market or promote their services or goods through Hop Circles Inc&rsquo;s Website or Hop Circles Inc Services but the Hop Circles Inc Service User does not wish to receive or participate in such advertising, marketing or promotion:
            p
            | (1)&nbsp;&nbsp; &nbsp;the Hop Circles Inc Service User shall notify Hop Circles Inc in in writing immediately or within the time (if any) specified by Hop Circles Inc;
            p
            | (2)&nbsp;&nbsp; &nbsp;Hop Circles Inc may require the Hop Circles Inc Service User to pay a charge (if any) specified by Hop Circles Inc from time to time or may terminate the Contract.
            p &nbsp;
            p
            strong 16
            p
            strong
                em Invalidity or unenforceability
            p
            | If any of these terms and conditions is found to be invalid or unenforceable for any reason or to any extent, such invalidity or enforceability shall not in any manner affect or render invalid or unenforceable the remaining terms and conditions.
            p
            strong 17
            p
            strong
                em Waiver
            p
            | Hop Circles Inc&rsquo;s delay or failure to enforce any of these terms and conditions shall not constitute a waiver of such term or condition.
            p
            strong 18
            p
            strong
                em Law and jurisdiction
            p
            | The Contract and all matters related to or arising from it will be interpreted and governed by Singapore Law and subject to the exclusive jurisdiction of the courts of Singapore.
            p
            strong 19
            p
            strong
                em Disputes
            p
            | Hop Circles Inc shall not be a party to or otherwise involved in any dispute between any two or more Hop Circles Inc Service Users, which dispute should be resolved between themselves as amicably as possible.
            br
            br
            |  &nbsp;&nbsp; &nbsp;The Hop Circles Inc Service User shall immediately notify Hop Circles Inc in writing of any dispute which it may have with any other Hop Circles Inc Service User and provide Hop Circles Inc with all information, evidence, assistance and co-operation which may be required by Hop Circles Inc in relation to such dispute.
            p
            | Hop Circles Inc and the Hop Circles Inc Service User will endeavour to resolve any dispute between them arising out of or in connection with the Contract and/or any related agreements through friendly consultation. If no mutually satisfactory resolution can be reached within reasonable time, Hop Circles Inc may choose to refer the dispute on an exclusive basis for mediation in the Singapore Mediation Centre or for final resolution by arbitration in Singapore in accordance with the Arbitration Rules of the Singapore International Arbitration Centre for the time being in force which rules are deemed to be incorporated by reference into this provision.
            p &nbsp;
            p &nbsp;
            p &nbsp;
            p &nbsp;
            p &nbsp;
